.parent{
    display: flex;
}

.header{
    display: flex;
    width: 15%;
    height: 100vh;
    position: sticky;
    justify-content: flex-end;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space{
    margin: 10px;
}

.Main{
    border-left: 1px solid #4e4e4e;
    border-right: 1px solid #4e4e4e;
    width: 55%;
}